.blogTitle {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.blogDescription {
  text-align: center;
  margin-bottom: 1rem;
}

.blogList {
  margin-bottom: 1rem;
}

.blogSwithView {
  text-align: center;
  margin: 0 0 1em;

  svg {
    cursor: pointer;
    transition: 0.6s;
  }
}

@media (max-width: 570px) {
  h2 {
    font-size: 1.3rem;
  }
}
