.projectContainer {
  max-width: 1280px;
}

.content {
  position: relative;
  border-radius: var(--ifm-card-border-radius);
}

.slider {
  height: 180px;
  margin: auto;
  padding: 0.5rem 0;
  position: relative;
}

.slide-track {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.slide {
  height: 100px;
  width: 200px;
  margin: 0 0.5rem;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    padding: 0 1rem;
  }

  a:hover {
    text-decoration: none;
  }
}

.slideBody {
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;

  .title {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.25rem;
    margin: 0;
  }

  .website {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--ifm-color-primary);
    margin: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-20%);
  }
}

/* Gradient Boxes */
.gradientBox {
  position: absolute;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 20px;
  z-index: 1;
  margin-right: -1px;
  margin-left: -1px;
}

.leftBox {
  left: 0;
  background-image: linear-gradient(to right, var(--content-background-color), transparent);
}

.rightBox {
  right: 0;
  background-image: linear-gradient(to left, var(--content-background-color), transparent);
}

html[data-theme='dark'] .leftBox {
  background-image: linear-gradient(to right, #18181baa, transparent);
}

html[data-theme='dark'] .rightBox {
  background-image: linear-gradient(to left, #18181baa, transparent);
}

/* Media Queries */
@media (width >= 640px) {
  .slider {
    height: 250px;
  }

  .slide {
    height: 200px;
    width: 300px;
  }

  .gradientBox {
    width: 50px;
  }
}

@media (width >= 768px) {
  .gradientBox {
    width: 100px;
  }
}

@media (width >= 1024px) {
  .slider {
    height: 280px;
  }

  .slide {
    height: 200px;
    width: 400px;
  }

  .gradientBox {
    width: 200px;
  }
}
